p, #score {
	text-align: right;
	font-size: 150%;
}

#answer {
	font-size: 200%;
	text-align: center;
}

#map-canvas {
	height:700px;
}

.meme {
	width: inherit;
	max-height: 800px;
	overflow: hidden;
}

.meme img {
	width: 100%;
}

.dropdown-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    //background-color: yellow;
}